.course-page {
  overflow-x: hidden;
}
.course-card {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  margin: 20px;

  height: 95%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;

  background: linear-gradient(-45deg, #85c3e7, #ec9dbb, #6ec2e0, #71e9cd);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.course-card img {
  width: 100%;
  height: 100%;
}
.course-card h6 {
  text-align: left;
  font-weight: 600;
  color: rgb(4, 4, 71);
}
.course-card p {
  font-weight: 300;
  margin-bottom: 10px;
}
.course-card h2 {
  color: darkblue;
  font-weight: 600;
  margin-bottom: 10px;
}
.course-card h4 {
  font-weight: 700;
  color: yellow;
}
.button-33 {
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, 0.2) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.15) 0 1px 2px, rgba(44, 187, 99, 0.15) 0 2px 4px,
    rgba(44, 187, 99, 0.15) 0 4px 8px, rgba(44, 187, 99, 0.15) 0 8px 16px,
    rgba(44, 187, 99, 0.15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  padding: 7px 40px;
  margin-top: 10px;
  /* width: 30%; */
  margin: auto;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-33:hover {
  box-shadow: rgba(44, 187, 99, 0.35) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.25) 0 1px 2px, rgba(44, 187, 99, 0.25) 0 2px 4px,
    rgba(44, 187, 99, 0.25) 0 4px 8px, rgba(44, 187, 99, 0.25) 0 8px 16px,
    rgba(44, 187, 99, 0.25) 0 16px 32px;
  transform: scale(1.1);
}
